/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #3e3e3e;
    font-weight: 400;
}
img {
    max-width: 100%;
    width: auto;
}
a {
    text-decoration: none;
}

/* common CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bebas Neue", cursive;
    color: #363958;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 15px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.half-width {
    width: 50%;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.highlighted-text {
    color: #e8505b;
}
.btn {
    background-color: #e8505b;
    color: #fff;
    text-decoration: none;
    padding: 16px 35px;
    display: inline-block;
    border-radius: 5px;
    background-image: linear-gradient(180deg, #e8505b, #fd7862);
}
.btn:hover {
    background-image: linear-gradient(180deg, #e8505b, #e8505b);
}

/* .header-area */
.header-area {
    padding: 20px 0 60px;
}
.mainmenu {
    text-align: right;
}
.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu ul li {
    display: inline-block;
}
.mainmenu ul li a {
    text-decoration: none;
    color: #3c3c3c;
    padding: 10px 20px;
    display: block;
    font-weight: 500;
}
.mainmenu ul li:hover a {
    color: #e8505b;
}

/* .hero-area */
.hero-area h1 {
    font-size: 80px;
    line-height: 80px;
    margin: 60px 0 30px;
    text-transform: uppercase;
}
.hero-area h1 span {
    display: block;
}
.hero-area .btn {
    margin-top: 40px;
}
.hero-section-right img {
    max-width: 465px;
}

/* .about-area */
.about-area {
    padding: 0 0 70px;
}
.about-section-left img {
    max-width: 475px;
}
.about-section-right h2 {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 100px;
}
.about-section-right .btn {
    margin-top: 30px;
}
.about-section-right .about-inner {
    padding-left: 100px;
}

/* .project-area */
.project-title {
    text-align: center;
}
.project-area {
    background-color: #f8f9fc;
    padding: 130px 0 150px;
}
.project-title h2 {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 55px;
    text-transform: uppercase;
}
.projects-wrap {
    padding: 20px;
    min-height: 370px;
}
.single-project-item {
    width: 326px;
    margin-right: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #ddd;
    border-radius: 30px;
    padding: 20px;
}
.single-project-item:last-child {
    margin-right: 0;
}
.single-project-item img {
    margin-bottom: 15px;
}
.single-project-item h3 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* .cta-box  */
.cta-box {
    background-image: url(img/cta-bg.png);
    background-position: center;
    background-size: cover;
    background-color: #ddd;
    width: 760px;
    margin: 0 auto;
    border-radius: 30px;
    padding: 80px 70px;
    overflow: hidden;
    margin-top: 100px;
}
.cta-box h1 {
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    line-height: 64px;
    margin: 0;
}

/* .testimonial-area */
.testimonial-content h2 {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}
.author-meta h4 {
    font-size: 20px;
    margin: 8px 0 5px;
}
.testimonial-content {
    text-align: center;
}
.testimonial-area {
    padding: 90px 0 0px;
}
.author-meta {
    margin-bottom: 20px;
}
.testimonial-text {
    width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 35px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #ddd;
    margin-bottom: 20px;
    position: relative;
}
.testimonial-text:after {
    position: absolute;
    left: 50%;
    top: -17px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #fff;
    content: "";
    transform: translate(-50%, 0px);
}

/* .footer-area */
.footer-area {
    padding: 90px 0 50px;
    text-align: center;
}
.footer-content h4 {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}
.footer-content span {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 20px;
    display: inline-block;
}
.social-icons a img {
    max-width: 40px;
}
.social-icons a {
    margin: 0 10px;
}
